<div id="sidebar" class="col-md-3">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9">

  <h2 class="top-content-title">Files for <%= @intellectual_object.title %></h2>
  <h4>Object Identifier: <%= @intellectual_object.identifier %></h4>
  <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

  <%= render 'did_you_mean' %>

  <%= render 'shared/constraints' %>

  <%= render 'sort_and_per_page' %>

  <%- if @response.empty? %>
      <%= render "shared/zero_results" %>
  <%- elsif render_grouped_response? %>
      <%= render_grouped_document_index %>
  <%- else %>
      <%= render_document_index %>
  <%- end %>

  <%= render 'shared/results_pagination' %>

</div>
Status API Training Shop Blog About
