<div id="sidebar" class="col-md-3 col-sm-4">
  <div class="facets sidenav">
    <h3> Limit your search </h3>
    <%= render 'shared/filters/institution_filter' %>
    <%= render 'shared/filters/object_association_filter' %>
    <%= render 'shared/filters/access_filter' %>
    <%= render 'shared/filters/format_filter' %>
  </div>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <% if @intellectual_object %>
      <h2 class="top-content-title">Generic Files for <%= @intellectual_object.title %></h2>
      <h4>Object Identifier: <%= @intellectual_object.identifier %></h4>
  <% else %>
      <h2 class="top-content-title">Generic Files for <%= @institution.name %></h2>
  <% end %>
  <%= render 'shared/search_breadcrumb' %>
  <%= render 'shared/sort_and_per_page' %>
  <hr>
  <%- if @paged_results.empty? %>
      <%= render 'shared/zero_results' %>
  <%- else %>
      <%= render 'shared/search_results' %>
  <%- end %>
  <%= render 'shared/compact_pagination' %>
</div>