<%= simple_form_for([@institution.becomes(Institution)], html: {class: 'form-horizontal'}) do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :identifier %>
      <%= f.input :dpn_uuid %>
      <%= f.input :type, collection: types_for_select, as: :select, label: 'Institution Type' %>
      <%= f.input :member_institution_id, collection: member_institutions_for_select, as: :select, label: 'Member Institution', input_html: { class: 'inst_form_input'} %>
      <p class="inst_form_paragraph">Leave this field blank if creating a new member institution.</p>
      <hr class="inst_form_h4">
      <h4 class="inst_form_h4">The following fields are generated automatically upon creation of the new Institution.</h4>
      <%= f.input :receiving_bucket, readonly: true, input_html: { class: 'inst_form_input'} %>
      <p class="inst_form_paragraph"><%= Pharos::Application.config.pharos_receiving_bucket_prefix %>&lt;institution_identifier&gt;</p>
      <p class="inst_form_paragraph">(<%= Pharos::Application.config.pharos_receiving_bucket_prefix %>example.edu)</p>
      <%= f.input :restore_bucket, readonly: true, input_html: { class: 'inst_form_input'} %>
      <p class="inst_form_paragraph"><%= Pharos::Application.config.pharos_restore_bucket_prefix %>&lt;institution_identifier&gt;</p>
      <p class="inst_form_paragraph">(<%= Pharos::Application.config.pharos_restore_bucket_prefix %>example.edu)</p>
    </div>
    <br>
    <div class="form-actions">

      <%= button_tag(type: 'submit', class: 'btn doc-action-btn btn-success btn-sm') do %>
          <i class="glyphicon glyphicon-check"></i> Submit
      <% end %>
      <%= link_to institutions_path(@institution), {class: 'btn doc-action-btn btn-warning btn-sm'} do %>
          <i class="glyphicon glyphicon-remove"></i> Cancel
      <% end %>

    </div>
<% end %>