<% @title = @institution.name %>

<div class="page-header">
  <h1><%= @institution.name %></h1>
</div>

<ul class="nav nav-tabs" id="inst_show_tabs">
  <li><a href="#summary" data-toggle="tab">Summary</a></li>
  <li><a href="#users" data-toggle="tab">Users</a></li>
</ul>

<div class="tab-content" id="inst_show_content">
  <div class="tab-pane" id="summary">

    <dl class="dl-horizontal">
      <dt>Users</dt>
      <dd><%= @institution.users.count %></dd>
      <dt>DPN UUID</dt>
      <dd><%= @institution.dpn_uuid %></dd>
      <dt>Intellectual Objects</dt>
      <dd><%= @object_count %></dd>
      <dt>Work Items</dt>
      <dd><%= @item_count %></dd>
      <dt>Total Storage Used</dt>
      <dd><%= number_to_human_size(@size) %></dd>
    </dl>

    <% if @institution.otp_enabled %>
      <%= disable_otp_link(@institution) %>
    <% else %>
      <%= enable_otp_link(@institution) %>
    <% end %>
    <%= mass_pass_update_link(@institution) %>

    <%= render 'shared/work_items' %>

    <%= link_to 'View All Jobs', work_items_path %>
  </div>

  <div class="tab-pane" id="users">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @institution.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= show_link(user) %>
              <%= edit_link(user) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
