<div id="content" class="col-md-10">
  <ol class="breadcrumb">
    <li><a href="#"><%= link_to current_user.institution.name, institution_path(current_user.institution) %></a></li>
  </ol>

  <section class="page-header">
    <h2><%= @dpn_bag.object_identifier %></h2>
  </section>

  <section class="queue">
    <table class="table dpn_bag">
      <tbody>
      <tr><th>DPN Identifier</th>
        <td><%= @dpn_bag.dpn_identifier %></td></tr>
      <tr><th>DPN Size</th>
        <td><%= number_to_human_size(@dpn_bag.dpn_size) %></td></tr>
      <tr><th>Node 1</th>
        <td><%= @dpn_bag.node_1 %></td></tr>
      <tr><th>Node 2</th>
        <td><%= @dpn_bag.node_2 %></td></tr>
      <tr><th>Node 3</th>
        <td><%= @dpn_bag.node_3 %></td></tr>
      <tr><th>Created At (In DPN)</th>
        <td><%= pretty_date(@dpn_bag.dpn_created_at) %></td></tr>
      <tr><th>Updated At (In DPN)</th>
        <td><%= pretty_date(@dpn_bag.dpn_updated_at) %></td></tr>
      </tbody>
    </table>
  </section>
</div>