<div id="content" class="col-md-10">
  <ol class="breadcrumb">
    <li><a href="#"><%= link_to current_user.institution.name, current_user.institution %></a></li>
  </ol>

  <section class="page-header">
    <h2>State for: <%= @work_item.name %></h2>
  </section>

  <section class="queue">
    <table class="table proc_item">
      <tbody>
      <tr>
      <tr><th>Work Item ID</th>
        <td><%= @state_item.work_item_id %></td></tr>
      <tr><th>Action</th>
        <td><%= @state_item.action %></td></tr>
      <% if current_user.admin? %>
          <tr><th>State</th>
            <td><div style="overflow:auto;max-width:800px;max-height:600px;"><pre><%= @work_item.pretty_state %></pre></div></td></tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>