Admin Users at <%= @object_institution.name %>,

This email notification is to inform you that <%= @requesting_user.name %> has requested the deletion
of the following item:

<a href="<%= @object_url %>" ><%= @object.identifier %></a>

To confirm that this object should be deleting please click the following link:

<a href="<%= @confirmation_url %>">Click to Confirm Deletion</a>

Please contact the APTrust team by replying to this email if you have any questions.