<p>Admin Users at <%= @item_institution.name %>,</p>
<br>
<p>This email notification is to inform you that a spot test of the restoration system has been performed on one of your bags.
  Please help APTrust out by downloading the restored bag and letting us know if any problems occur. </p>
<br>
<p>Click <a href="<%= @item_url %>"><%= @item_url %></a> to view the Work Item record of the restored bag.</p>
<br>

<p>The restored bag is available from S3 at <a href="<%= @download_url %>"><%= @download_url %></a>. You'll need your APTrust AWS credentials and an S3 client to download it.</p>
<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>
