<p>Hello <%= @subject.name %>,</p>

<p>Welcome to Pharos, the APTrust Repository web application.
With Pharos you are able to manage preservation deposits and inspect outcomes of your
preservation activities. </p>

<p>An account with a temporary password has been created for you. Please follow
the URL below to login with your email address and temporary password. You will
be prompted to change this password after your initial login. A new password
has to be least 10 characters long.</p>

<p>Login: <%= @subject.email %></p>
<p>Temporary password: <%= @password %></p>

<p>Login URL: <%= @login_url %><p>

<% if @subject.institutional_admin? || @subject.admin? %>
  <p>You have been setup as an institutional admin or and APTrust admin and you will be
  required to enable two factor authentication within 30 days. After 30 days, two factor
  authentication becomes mandatory.</p>
<% else %>
  <p>You have been setup as an institutional user in our system. We encourage you to setup
  two factor authentication. It is optional unless required by your institutional admin(s).</p>
<% end %>

<p>To enable two factor authentication, visit your user profile page
(<%= @subject_url %>). Please note that before you attempt to enable two factor
authentication you MUST have a mobile phone number registered on your account, otherwise
the process will not work. Once you have enabled two factor authentication you will need
to verify your phone number through a text message or push notification. Once that is
done, two factor authentication setup is complete and you will be prompted to use it
at every login. There is a grace period between the creation of your account and the time
when two factor authentication must be set up for mandatory users. For the Pharos production
environment, that grace period is 30 days. For the demo environment it is 90 days.</p>

<p>Pharos has an API that can be used to view Intellectual Objects, Generic Files,
Premis Events, and Work Items. It can also be used to restore individual Intellectual
Objects and Generic Files. To review endpoints and experiment with them
  please see our Swagger documentation. <a href="https://aptrust.github.io/pharos/#/">Swagger Docs</a></p>

<p>To generate an API key please visit your user profile page and
click the "Generate API Key" button, then save the API key in a safe place.</p>

<p>In addition to the API key, you will also be issued AWS credentials. Those will
be sent to you in a separate email. Please save those credentials in a safe space as well. They can be used to upload and access restored content from the repository.</p>

<p>You can find more documentation on using APTrust on our wiki at <a href="https://wiki.aptrust.org/Using_APTrust">Using APTrust</a>.</p>

<p>Please contact the APTrust team if you have any questions.
eMail - help@aptrust.org
Slack - http://bit.ly/aptrust-slack #aptrust_community
Community listserv - community@aptrust.org - http://bit.ly/aptrust-community
</p>

<p>Thanks so much for joining the APTrust preservation community.</p>

<p>The APTrust Team</p>
