<div class="modal" tabindex="-1" role="dialog" id="enable_phone_modal_<%= user.id %>" title="Update Phone Number for Two Factor Authentication">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Mobile Phone Number</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This form will update the phone number in both your Pharos account for Two Factor Authentication purposes.</p>
        <p>Please use a mobile phone number or enabling Two Factor Authentication will not work and you will need to contact
          an APTrust administrator for help in continuing the process.</p>
        <% if request.original_url.include?("users/#{user.id}/enable_otp") %>
            <% url = 'enable_otp' %>
        <% else %>
            <% url = "users/#{user.id}/enable_otp" %>
        <% end %>
        <%= form_tag(url, method: :get) do %>
            <% if @user && @user.errors.any? %>
                <div id="error_explanation">
                  <p class="alert">Please review the problems below:</p>
                </div>
            <% end %>
            <div class="field">
              <%= label_tag 'phone_number', 'Mobile Phone Number' %>
              <br>
              <p>If you don't change this field, it will default to the current number in your account. If that number is not a
                mobile number the Two Factor Authentication process will not work.</p>
              <% if params[:phone_number] %>
                  <%= text_field_tag 'phone_number', params[:phone_number] %>
              <% else %>
                  <%= text_field_tag 'phone_number', user.phone_number %>
              <% end %>
              <% if @user && @user.errors[:phone_number].any?  %>
                  <br>
                  <% @user.errors.full_messages.each do |message| %>
                      <span class="alert"><%= message %></span>
                  <% end %>
              <% end %>
              <%= hidden_field_tag 'redirect_loc', 'index' %>
            </div>
            <br>
            <%= button_tag(type: 'submit', class: 'btn doc-action-btn btn-success btn-sm', id: 'enable-otp-form-submit') do %>
                <i class="glyphicon glyphicon-check"></i> Submit
            <% end %>
            <%= link_to users_path, class: 'btn doc-action-btn btn-warning btn-sm' do %>
                <i class="glyphicon glyphicon-remove"></i> Cancel
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>