<div class="page-header">
  <h1>Change Password</h1>
</div>

<%= simple_form_for(@user, :url => { :action => "update_password" } ) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <br/>
    <p>We need your current password to confirm your changes.</p>
    <%= f.input :current_password %>

    <br>
    <div class="action_container">
      <%= button_tag(type: 'submit', class: "btn doc-action-btn btn-success") do %>
          <i class="glyphicon glyphicon-check"></i> Submit
      <% end %>
      <%= link_to @user, {class: "btn doc-action-btn btn-warning"} do %>
          <i class="glyphicon glyphicon-remove"></i> Cancel
      <% end %>
    </div>
<% end %>