<% @title = 'Users' %>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:institution) %></th>
      <th><%= model_class.human_attribute_name(:groups) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.institution.name %></td>

        <td><% user.roles.each do |role| %>
          <%= role.name.capitalize %>
        <% end %></td>
        <td><%= show_link user %></td>
        <td><%= edit_link user %></td>
        <% if user.deactivated? %>
            <td><%= reactivate_link user %></td>
        <% else %>
            <td><%= deactivate_link user %></td>
        <% end %>
        <% if user.enabled_two_factor %>
            <td><%= disable_otp_link user %></td>
        <% else %>
            <td><%= link_to 'Enable 2FA', "#", class: 'btn btn-success doc-action-btn', data: {toggle: "modal", target: "#enable_phone_modal_#{user.id}"} %></td>
            <%= render 'enable_phone_number_index_modal', user: user %>
            <% user = persist_errors(user) %>
            <% if user.errors.any? %>
                <script>$('#enable_phone_modal_<%= user.id %>').modal('show');</script>
            <% end %>
        <% end %>
        <td><%= destroy_link user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_link(User) %>
