<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:institution) %></th>
      <th><%= model_class.human_attribute_name(:groups) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.institution.name %></td>

        <td><% user.roles.each do |role| %>
          <%= role.name.capitalize %>
        <% end %></td>
        <td>
          <%= show_link user %> <%= edit_link user %> <%= destroy_link user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_link(User) %>
