<% @title = 'New User' %>

<div class="page-header">
  <h1>Registering New User</h1>
</div>

<%= simple_form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>
	<p>A temporary password will be generated and sent to the user in a welcome email. </p>

    <div class="form-inputs">
      <%= f.input :name, autofocus: true %>
      <%= f.input :email %>
      <%= f.input :phone_number, label: 'Mobile Phone Number (Optional, only required for two factor authentication)' %>
      <p>Make sure the phone associated with the number can receive SMS messages and/or Authy push notifications.</p>

      <%= f.input :institution_id, collection: institutions_for_select, as: :select, label: 'Institution' %>

      <%= f.association :roles, collection: roles_for_select, as: :radio_buttons %>

      <%= f.input :password, autocomplete: :on, input_html: { class: 'hidden', id: 'new_user_password'} %>
      <%= f.input :password_confirmation, autocomplete: :on, input_html: { class: 'hidden', id: 'new_user_password_confirmation' } %>

    </div>
    <br>
    <div class="form-actions">
      <%= button_tag(type: 'submit', class: 'btn doc-action-btn btn-success') do %>
          <i class="glyphicon glyphicon-check"></i> Submit
      <% end %>
      <%= link_to @user, {class: 'btn doc-action-btn btn-warning'} do %>
          <i class="glyphicon glyphicon-remove"></i> Cancel
      <% end %>
    </div>
<% end %>

<script>
  autofillUserCreateForm();
</script>
