<% @title = "#{@user.name}'s Account" %>

<h4>User Information</h4>
<%= gravatar_for @user %>
<address>

  <strong><%= @user.name %></strong> (<em><%= @user.institution.name %></em>)<br />
  <a href="mailto:#"><%= @user.email %></a><br>
  <abbr title="Phone">Phone #: </abbr><%= @user.phone_number %><br><br>
</address>

<% if current_user.sms_user? %>
    <% if !current_user.enabled_two_factor %>
        <%= button_to "Enable Two Factor Authentication", users_enable_otp_path(@user.id), :method => :post, class: 'btn btn-normal doc-action-btn' %>
    <% end %>

    <% if current_user.enabled_two_factor %>
        <%= button_to "Disable Two Factor Authentication", users_disable_otp_path(@user.id), :method => :post, class: 'btn btn-normal doc-action-btn' %>
    <% end %>
<% else %>
    <% if !current_user.enabled_two_factor %>
        <%= button_to "Enable Two Factor Authentication", (raw RQRCode::render_qrcode(current_user.otp_provisioning_uri(current_user.email, issuer: "Pharos"), :svg, :level => :l, :unit => 2)), :method => :post, class: 'btn btn-normal doc-action-btn' %>
    <% end %>

    <% if current_user.enabled_two_factor %>
        <%= button_to "Disable Two Factor Authentication", (raw RQRCode::render_qrcode(current_user.otp_provisioning_uri(current_user.email, issuer: "Pharos"), :svg, :level => :l, :unit => 2)), :method => :post, class: 'btn btn-normal doc-action-btn' %>
    <% end %>
<% end %>

<% if @codes %>
    <h4>Backup Codes</h4>
    <ul class="unstyled">
      <% @codes.each do |code| %>
          <li><%= code %></li>
      <% end %>
    </ul>
<% end %>

<h4>Roles</h4>
<ul class="unstyled">
  <% @user.roles.each do |role| %>
      <li><%= role.name.titleize %></li>
  <% end %>
</ul>

<%= render 'api_key' %>

<hr />

<%= edit_link(@user) %>
<% if @user.deactivated? %>
    <%= reactivate_link(@user) %>
<% else %>
    <%= deactivate_link(@user) %>
<% end %>
<%= destroy_link(@user) %>