<% @title = "#{@user.name}'s Account" %>

<h4>User Information</h4>
<%= gravatar_for @user %>
<address>
  <strong><%= @user.name %></strong> (<em><%= @user.institution.name %></em>)<br />
  <a href="mailto:#"><%= @user.email %></a><br />
  <abbr title="Phone">Phone #: </abbr><%= @user.phone_number %><br /><br />
</address>
<%= edit_link(@user) %>
<%= link_to 'Change Password', edit_password_user_path(@user), class: 'btn btn-normal doc-action-btn btn-sm' %>
<% if current_user.admin? || current_user.institutional_admin? %>
    <%= link_to 'Force Password Update', user_forced_password_update_path(@user), class: 'btn btn-warning doc-action-btn btn-sm' %>
<% end %>
<% if @user.deactivated? %>
    <%= reactivate_link(@user) %>
<% else %>
    <%= deactivate_link(@user) %>
<% end %>
<%= destroy_link(@user) %>
<br><br>
<% unless @user.account_confirmed %>
    <h5>Resend Account Confirmation Email</h5>
    <p>If you lost, or never received, an email with a confirmation URL for your account confirmation you can resend a confirmation email here. </p>
    <%= link_to 'Resend Email', indiv_confirmation_email_path(@user), class: 'btn btn-normal doc-action-btn btn-sm' %>
<% end %>

<hr />

<% unless @user.email_verified %>
  <%= button_to 'Send Email Verification Instructions', email_verification_path(@user.id),
                      :method => :get, class: 'btn btn-normal doc-action-btn' %>
  <br />
<% end %>

<h4>Two Factor Authentication</h4>
<% if @user.enabled_two_factor %>
    <% if @user.confirmed_two_factor %>
        <h5>Status: Enabled</h5>
        <%= link_to 'Disable 2FA', users_disable_otp_path(@user.id), id: 'disable_twofa',
                      :method => :get, class: 'btn btn-warning doc-action-btn' %>
        <% if (current_user.authy_id.nil? || current_user.authy_id == '') %>
            <%= link_to 'Register w/Authy', users_register_for_authy_path(@user.id), id: 'register_with_authy',
                          :method => :get, class: 'btn btn-primary doc-action-btn' %>
        <% end %>
        <%= link_to 'Change Mobile Phone Number For Authy', "#", class: 'btn btn-normal doc-action-btn', data: {toggle: "modal", target: "#authy_phone_modal"} %>
        <%= render 'authy_phone_number_modal' %>
    <% else %>
        <h5>Status: Mobile Phone Number Needs Verification</h5>
        <p>If you reached this point and previously forgot to use or update your phone number to a mobile phone number, you will need your institutional administrator
        or an APTrust administrator to change your number to one capable of receiving text messages. Then you will have to verify your phone
        number using the SMS option below. Once you have done that, please click the "Change Authy Number" button to update the phone number
        that is linked to your Pharos Authy account. Only then will you be able to use push notifications, should you so choose.</p>
        <%= link_to 'Verify Phone Number via SMS', users_verify_twofa_path(@user.id, verification_option: 'sms'),
                    class: 'btn btn-normal doc-action-btn' %>
        <br />
        <%= link_to 'Verify Phone Number via Push Notification', users_verify_twofa_path(@user.id, verification_option: 'push'),
                    class: 'btn btn-normal doc-action-btn', id: 'phone_verification_push_btn' %><p>(requires Authy app installation)</p>
        <div id="verification-loader" class="hidden">
          <h4>Please check your Authy app for a push notification. Waiting for a response...</h4>
          <div class="loader"></div>
        </div>
    <% end %>

    <br />
    <h4>Backup Codes</h4>
    <%= button_to 'Generate Backup Codes', backup_codes_path(@user.id),
                  :method => :get, class: 'btn btn-normal doc-action-btn' %>
    <% if @codes %>
        <br />
        <p><span class="badge badge-danger">Important!</span> Write these backup codes down in a safe place.
          They can be used once to login to your account if your two factor device is unavailable.
          They will never be displayed again for security reasons.</p>
        <ul class='unstyled'>
          <% @codes.each do |code| %>
              <li><%= code %></li>
          <% end %>
        </ul>
    <% end %>
    <br />

<% else %>
    <h5>Status: Not Enabled</h5>
    <p>Please ensure you have an accurate phone number listed in your profile before you enable two factor authentication. </p>
    <%= link_to 'Enable 2FA', "#", class: 'btn btn-success doc-action-btn', data: {toggle: "modal", target: "#enable_phone_modal"} %>
    <%= render 'enable_phone_number_modal' %>
<% end %>

<div>
  <h5>If you haven't already, consider downloading Authy and using push notifications!</h5>
  <span><a href="https://play.google.com/store/apps/details?id=com.authy.authy" target="_blank">
      <%= image_tag("aptrust/google-play.svg", alt: "Get it on Google Play") %>
    </a>
  </span>
  <span><a href="https://itunes.apple.com/us/app/authy/id494168017" target="_blank">
      <%= image_tag("aptrust/app-store.svg", alt: "Download on the App Store") %>
    </a>
  </span>
</div>
<br />
<h4>Roles</h4>
<ul class="unstyled">
  <% @user.roles.each do |role| %>
      <li><%= role.name.titleize %></li>
  <% end %>
</ul>
<br />

<%= render 'api_key' %>
