<% @title = "#{@user.name}'s Account" %>

<h4>User Information</h4>
<%= gravatar_for @user %>
<address>

  <strong><%= @user.name %></strong> (<em><%= @user.institution.name %></em>)<br />
  <a href="mailto:#"><%= @user.email %></a><br>
  <abbr title="Phone">Phone #: </abbr><%= @user.phone_number %><br><br>
</address>

<h4>Roles</h4>
<ul class="unstyled">
  <% @user.roles.each do |role| %>
      <li><%= role.name.titleize %></li>
  <% end %>
</ul>

<%= render 'api_key' %>

<h4>AWS Buckets</h4>
<ul clas="unstyled">
  <li><strong>Receiving Bucket: </strong><%= @user.institution.receiving_bucket %></li>
  <li><strong>Restore Bucket: </strong><%= @user.institution.restore_bucket %></li>
</ul>

<hr />

<%= edit_link(@user) %>
<% if @user.deactivated? %>
    <%= reactivate_link(@user) %>
<% else %>
    <%= deactivate_link(@user) %>
<% end %>
<%= destroy_link(@user) %>