<% @title = "#{@user.name}'s Account" %>

<h4>User Information</h4>
<%= gravatar_for @user %>
<address>

  <strong><%= @user.name %></strong> (<em><%= @user.institution.name %></em>)<br />
  <a href="mailto:#"><%= @user.email %></a><br>
  <abbr title="Phone">Phone #: </abbr><%= @user.phone_number %><br><br>
</address>

<% unless @user.email_verified %>
  <%= button_to 'Send Email Verification Instructions', email_verification_path(@user.id),
                      :method => :get, class: 'btn btn-normal doc-action-btn' %>
  <br>
<% end %>

<h4>Two Factor Authentication</h4>
<% if @user.enabled_two_factor %>
    <% if @user.confirmed_two_factor %>
        <h5>Status: Enabled</h5>
        <%= button_to 'Disable 2FA', users_disable_otp_path(@user.id),
                      :method => :get, class: 'btn btn-warning doc-action-btn' %>
        <%= button_to 'Register w/Authy', users_register_for_authy_path(@user.id),
                      :method => :get, class: 'btn btn-primary doc-action-btn' %>
    <% else %>
        <h5>Status: Phone Number Needs Verification</h5>

        <%= link_to 'Verify Phone Number via SMS', users_verify_twofa_path(@user.id, verification_option: 'sms'),
                    class: 'btn btn-normal doc-action-btn' %>
        <br>
        <%= link_to 'Verify Phone Number via Push Notification', users_verify_twofa_path(@user.id, verification_option: 'push'),
                    class: 'btn btn-normal doc-action-btn', id: 'phone_verification_push_btn' %><p>(requires Authy app installation)</p>
        <div id="verification-loader" class="hidden">
          <h4>Please check your Authy app for a push notification. Waiting for a response...</h4>
          <div class="loader"></div>
        </div>
    <% end %>

    <br>
    <h4>Backup Codes</h4>
    <%= button_to 'Generate Backup Codes', backup_codes_path(@user.id),
                  :method => :get, class: 'btn btn-normal doc-action-btn' %>
    <% if @codes %>
        <br>
        <p><span class="badge badge-danger">Important!</span> Write these backup codes down in a safe place.
          They can be used once to login to your account if your two factor device is unavailable.
          They will never be displayed again for security reasons.</p>
        <ul class='unstyled'>
          <% @codes.each do |code| %>
              <li><%= code %></li>
          <% end %>
        </ul>
    <% end %>
    <br>

<% else %>
    <h5>Status: Not Enabled</h5>
    <p>Please ensure you have an accurate phone number listed in your profile before you enable two factor authentication. </p>
    <%= button_to "Enable 2FA", users_enable_otp_path(@user.id),
                  :method => :get, class: 'btn btn-success doc-action-btn' %>
<% end %>

<h4>Roles</h4>
<ul class="unstyled">
  <% @user.roles.each do |role| %>
      <li><%= role.name.titleize %></li>
  <% end %>
</ul>
<br>

<%= render 'api_key' %>

<hr />

<%= edit_link(@user) %>
<%= link_to 'Change Password', edit_password_user_path(@user), class: 'btn btn-normal doc-action-btn' %>
<% if @user.deactivated? %>
    <%= reactivate_link(@user) %>
<% else %>
    <%= deactivate_link(@user) %>
<% end %>
<%= destroy_link(@user) %>