<% @title = "#{@user.name}'s Account" %>

<h4>User Information</h4>
<%= gravatar_for @user %>
<address>

  <strong><%= @user.name %></strong> (<em><%= @user.institution.name %></em>)<br />
  <a href="mailto:#"><%= @user.email %></a><br>
  <abbr title="Phone">Phone #: </abbr><%= @user.phone_number %><br><br>
</address>


<% if current_user.enabled_two_factor %>
    <% if current_user.confirmed_two_factor %>
        <h4>Two Factor Authentication Enabled</h4>
        <%= button_to "Disable Two Factor Authentication", users_disable_otp_path(@user.id),
                      :method => :post, class: 'btn btn-normal doc-action-btn' %>
    <% else %>
        <h4>Verify Phone Number for Two Factor Authentication</h4>
        <%= button_to "Verify Phone Number For Two Factor Authentication", users_verify_twofa_path(@user.id),
                      :method => :post, class: 'btn btn-normal doc-action-btn' %>
    <% end %>
<% else %>
    <h4>Two Factor Authentication Not Enabled</h4>
    <%= button_to "Enable Two Factor Authentication", users_enable_otp_path(@user.id),
                  :method => :post, class: 'btn btn-normal doc-action-btn' %>
<% end %>

<h4>Backup Codes</h4>
<%= button_to "Generate Backup Codes", backup_codes_path(@user.id),
                  :method => :get, class: 'btn btn-normal doc-action-btn' %>
<% if @codes %>
    <br>
    <p><strong class="badge badge-danger">Important!</strong> Write these backups codes down in a safe place.
      They can be used once to login to your account if your two factor device is unavailable.
      They will never be displayed again for security reasons.</p>
    <ul class="unstyled">
      <% @codes.each do |code| %>
          <li><%= code %></li>
      <% end %>
    </ul>
<% end %>
<br>

<h4>Roles</h4>
<ul class="unstyled">
  <% @user.roles.each do |role| %>
      <li><%= role.name.titleize %></li>
  <% end %>
</ul>

<%= render 'api_key' %>

<hr />

<%= edit_link(@user) %>
<% if @user.deactivated? %>
    <%= reactivate_link(@user) %>
<% else %>
    <%= deactivate_link(@user) %>
<% end %>
<%= destroy_link(@user) %>