<% @title = 'Vacuum Functions' %>

<table>
  <tr>
    <td><ul>
      <li><%= link_to vacuum_path(vacuum_target: 'entire_database'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Entire Database
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'checksums'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Checksum Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'confirmation_tokens'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Confirmation Token Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'emails'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Email Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'generic_files'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Generic File Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'institutions'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Institution Table
        <% end %></li><br>
    </ul></td>
    <td><ul>
      <li><%= link_to vacuum_path(vacuum_target: 'intellectual_objects'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Intellectual Object Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'premis_events'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Premis Event Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'roles'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Role Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'snapshots'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Snapshot Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'usages_samples'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Usage Sample Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'users'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum User Table
        <% end %></li><br>
      <li><%= link_to vacuum_path(vacuum_target: 'work_items'), {class: 'btn doc-action-btn btn-normal'} do %>
            <i class="glyphicon glyphicon-hourglass"></i> Vacuum Work Item Table
        <% end %></li><br>
    </ul></td>
  </tr>
</table>
