
<h2>Change your password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <br>
    <%= button_tag(type: 'submit', class: "btn doc-action-btn btn-success") do %>
        <i class="glyphicon glyphicon-check"></i> Change my password
    <% end %>
<% end %>