<div id="header-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div id ="logo-area" class="navbar-header col-md-3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("aptrust/logoWhite.png", height: 60, width: 325, border: 0, alt: "APTrust Logo"), root_path, class: "navbar-brand logo-text" %>
    </div>

    <div class="search-container">
      <div id="search-navbar" class="navbar-static-top col-md-6" role="navigation">
        <div class="navbar-header">
          <% if user_signed_in? %>
              <%= render partial: '/shared/search_form' %>
          <% end %>
        </div>
        <br><br>
        <div id="navigation_tabs">
          <% if user_signed_in? %>
              <% get_institution_for_tabs %>
              <ul class="nav nav-tabs">
                <li id="inst_tab"><%= link_to 'Institution', institution_path(@inst) %></li>
                <li id="io_tab"><%= link_to 'Objects', intellectual_objects_path(@inst, sort: 'date') %></li>
                <li id="gf_tab"><%= link_to 'Files', institution_files_path(@inst, sort: 'date') %></li>
                <li id="pe_tab"><%= link_to 'Events', institution_events_path(@inst) %></li>
                <li id="wi_tab"><%= link_to 'Work Items', work_items_path %></li>
                <% if current_user.admin? %>
                    <li id="dpn_tab"><%= link_to 'DPN Items', dpn_work_items_path %></li>
                <% end %>
                <li id="rep_tab"><%= link_to 'Reports', reports_path(@inst.identifier) %></li>
              </ul>
          <% end %>
          <script>tabbed_nav('<%= params[:controller]%>');</script>
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse col-md-3" id="user-util-collapse">
      <% if user_signed_in? %>
          <%= render partial: '/user_util_links' %>
      <% else %>
          <%= render partial: '/user_sign_in_links' %>
      <% end %>
    </div>

  </div>

</div>