<%= form_tag method: 'get', action: 'search', controller: '/catalog' do %>
    <div class="input-group" id="search">

      <span class="input-group-addon">
        <label for="search_field" class="sr-only">Search</label>
        <% if current_user.admin? %>
            <%= select_tag :object_type, options_for_select(['Intellectual Objects', 'Generic Files', 'Work Items', 'Premis Events', 'DPN Items'], params[:object_type]), onchange: 'configureDropDownLists();' %>
        <% else %>
            <%= select_tag :object_type, options_for_select(['Intellectual Objects', 'Generic Files', 'Work Items', 'Premis Events'], params[:object_type]), onchange: 'configureDropDownLists();' %>
        <% end %>
        <%= select_tag :search_field, options_for_select([], params[:search_field]) %>

        <% if params[:search_field] %>
          <%= javascript_tag do %>
                configureDropDownLists();
                adjustSearchField('<%= params[:search_field] %>');
          <% end %>
        <% else %>
          <%= javascript_tag do %>
                configureDropDownLists();
          <% end %>
        <% end %>

      </span>
      <label for="q" class="sr-only">Search Box</label>
      <%= text_field_tag :q, params[:q], :placeholder => 'Search...', :class => 'search_q q form-control', :id => 'q', :autofocus => true %>

      <span class="input-group-btn" class="span5">
        <button type="submit" class="btn btn-primary search-btn" id="search-btn">
          <span class="submit-search-text">Search</span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
        </span>
    </div>
<% end %>