
<h2 class="sr-only">Search Results</h2>
<div id="documents">
    <% counter = @first_number %>
    <% @paged_results.each do |current| %>
        <% if current.is_a?(IntellectualObject) %>
            <%= render 'shared/individual_results/object_result', counter: counter, current: current %>
        <% elsif current.is_a?(GenericFile) %>
            <%= render 'shared/individual_results/file_result', counter: counter, current: current %>
        <% elsif current.is_a?(WorkItem) %>
            <%= render 'shared/individual_results/item_result', counter: counter, current: current %>
        <% elsif current.is_a?(PremisEvent) %>
          <%= render 'shared/individual_results/event_result', counter: counter, current: current %>
        <% elsif current.is_a?(DpnWorkItem) %>
          <%= render 'shared/individual_results/dpn_item_result', counter: counter, current: current %>
        <% elsif current.is_a?(BulkDeleteJob) %>
          <%= render 'shared/individual_results/bulk_delete_job_result', counter: counter, current: current %>
        <% end %>
        <% counter = counter+1 %>
        <hr>
    <% end %>
</div>