<div id="searchBreadcrumb" class="clearfix">

</div>

<% unless (params[:q].nil? || params[:q] == '%' || params[:q] == '*') && @selected == {} %>
    <div id="appliedParams" class="clearfix constraints-container">
      <div class="pull-right">
        <a class="catalog_startOverLink btn btn-sm btn-text" href="<%= start_over_link(params[:controller]) %>" id="startOverLink">Start Over</a>
      </div>
      <span class="constraints-label">You searched for: </span>
      <% unless params[:q].nil? || params[:q] == '' || params[:q] == '%' || params[:q] == '*' %>
      <span class="btn-group appliedFilter constraint query">
        <span class="constraint-value btn btn-sm btn-default btn-disabled">
          <% if params[:search_field].nil? || params[:search_field] == '' || params[:search_field] == 'All Fields' %>
            <span class="filterValue"><%= params[:q] %></span>
          <% else %>
            <span class="filterName"><%= params[:search_field] %>:</span>
            <span class="filterValue"><%= params[:q] %></span>
          <% end %>
        </span>
        <a class="btn btn-default btn-sm remove" href="<%=url_for(params.except :q)%>">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="sr-only">Remove constraint <%= params[:q] %></span>
        </a>
      </span>
      <% end %>
      <% unless params[:object_type].nil? || params[:object_type] == '' || params[:object_type] == 'All Types' %>
        <span class="btn-group appliedFilter constraint filter">
          <span class="constraint-value btn btn-sm btn-default btn-disabled">
            <span class="filterName">Result Type:</span>
            <span class="filterValue"><%= params[:object_type] %></span>
          </span>
          <a class="btn btn-default btn-sm remove" href="<%=url_for(params.except 'object_type')%>">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">Remove constraint Object Type: <%= params[:object_type] %></span>
          </a>
        </span>
      <% end %>
      <% if @selected %>
          <% @selected.each do |key, value| %>
        <span class="btn-group appliedFilter constraint filter">
          <span class="constraint-value btn btn-sm btn-default btn-disabled">
            <% if key == :institution %>
                <span class="filterName"><%= key.capitalize %>:</span>
                <span class="filterValue"><%= Institution.find(value).name %></span>
            <% elsif key == :access %>
                <span class="filterName"><%= key.capitalize %>:</span>
                <span class="filterValue"><%= value.capitalize %></span>
            <% elsif key == :item_action %>
                <span class="filterName">Action:</span>
                <span class="filterValue"><%= value.capitalize %></span>
            <% elsif key == :file_format %>
                <span class="filterName">Format:</span>
                <span class="filterValue"><%= value %></span>
            <% elsif key == :object_association %>
                <span class="filterName">Associated Object:</span>
                <span class="filterValue"><%= IntellectualObject.find(value).identifier %></span>
            <% elsif key == :file_association %>
                <span class="filterName">Associated File:</span>
                <span class="filterValue"><%= GenericFile.find(value).identifier %></span>
            <% elsif key == :outcome %>
                <span class="filterName">Outcome:</span>
                <span class="filterValue"><%= value.capitalize %></span>
            <% elsif key == :event_type %>
                <span class="filterName">Event Type:</span>
                <span class="filterValue"><%= value.capitalize %></span>
            <% else %>
                <span class="filterName"><%= key.capitalize %>:</span>
                <span class="filterValue"><%= value %></span>
            <% end %>
          </span>
          <a class="btn btn-default btn-sm remove" href="<%=url_for(params.except key)%>">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">Remove constraint <%= key %>: <%= value %></span>
          </a>
        </span>
          <% end %>
      <% end %>
    </div>
<% end %>