<div id="sortAndPerPage" class="clearfix">

  <span class="page_links">
    <% if @previous.nil? %>
        « Previous |
    <% else %>
        « <a href="<%= @previous %>" rel="previous"> Previous</a> |
    <% end %>
    <span class="page_entries">
       <strong><%= @first_number %></strong> - <strong><%= @second_number %></strong> of <strong><%= @count %></strong>
    </span>
    <% if @next.nil? %>
        | Next »
    <% else %>
        | <a href="<%= @next %>" rel="next">Next</a> »
    <% end %>

  </span>

  <span class="search-widgets pull-right">
    <span class="sr-only"><%= 'Per Page' %></span>
    <% unless @premis_events %>
    <div id="state-dropdown" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <a href="#">Object State </a>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="<%= current_path('state', 'A') %>">Active</a></li>
        <li><a href="<%= current_path('state', 'all') %>">All</a></li>
        <li><a href="<%= current_path('state', 'D') %>">Deleted</a></li>
      </ul>
    </div>
    <% end %>

    <div id="per_page-dropdown" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= link_to(t(:'Per page', :count => @page), "#") %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="<%= current_path('per_page', '10') %>">10</a></li>
        <li><a href="<%= current_path('per_page', '20') %>">20</a></li>
        <li><a href="<%= current_path('per_page', '50') %>">50</a></li>
        <li><a href="<%= current_path('per_page', '100') %>">100</a></li>
      </ul>
    </div>

    <div id="sort-dropdown" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <a href="#">Sort by </a>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="<%= current_path('sort', 'date') %>">Processed Date</a></li>
        <li><a href="<%= current_path('sort', 'name') %>">Name</a></li>
        <% if current_user.admin? %>
            <li><a href="<%= current_path('sort', 'institution') %>">Institution</a></li>
        <% end %>
      </ul>
    </div>
  </span>
</div>