<h4>Most Recent Work Items for <%= @institution.name %></h4>
<table class="table">
    <thead>
  <tr>
      <th>Name</th>
      <th>Institution</th>
      <th>Processed</th>
      <th>Size</th>
      <th>Action</th>
      <th>Stage</th>
      <th>Status</th>
    </tr>
  </thead>
    <tbody>
  <% if @items.nil? || @items.empty? %>
          No Work Items to display.
      <% else %>
          <% @items.each do |item| %>
                  <tr class="<%= item.status %>">
              <td><%= link_to item.name, work_item_path(id: item.id) %></td>
              <td><%= item.institution.identifier %></td>
              <td><%= pretty_date(item.date) %></td>
              <td><%= number_to_human_size(item.size) %></td>
              <td><%= item.action %></td>
              <td><%= item.stage %></td>
              <td><%= item.status %></td>
            </tr>
              <% end %>
      <% end %>
  </tbody>
</table>