<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" aria-describedby="dialog-form-restore" aria-labelledby="ui-id-1" style="position: absolute; height: auto; width: 350px; top: 0px; left: 114.5px; display: block; z-index: 101;">
  <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
    <span id="ui-id-1" class="ui-dialog-title">Confirm Requeue for Restoration</span>
    <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
      <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
      <span class="ui-button-icon-space"> </span>Close
    </button>
  </div>
  <div id="dialog-form-restore" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 269px;">
    <form>
      <fieldset>
        <label for="state_item">Delete Work Item State</label>
        <input type="checkbox" name="state_item" id="state_item" class="text ui-widget-content ui-corner-all">
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
      <button type="button" class="ui-button ui-corner-all ui-widget">Requeue Item</button>
      <button type="button" class="ui-button ui-corner-all ui-widget">Cancel</button>
    </div>
  </div>
  <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
</div>

<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" aria-describedby="dialog-form-ingest" aria-labelledby="ui-id-2" style="position: absolute; height: auto; width: 350px; top: 0px; left: 114.5px; display: block; z-index: 101;">
  <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
    <span id="ui-id-2" class="ui-dialog-title">Confirm Requeue for Ingest</span>
    <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
      <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
      <span class="ui-button-icon-space"> </span>Close
    </button>
  </div>
  <div id="dialog-form-ingest" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 269px;">
    <form>
      <fieldset>
        <label for="stage">What stage would you like to requeue to?</label>
        <% if @work_item.stage == Pharos::Application::PHAROS_STAGES['store'] %>
            <input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['fetch'] %>"> Fetch<br>
            <input type="radio" name="stage" value="Pharos::Application::PHAROS_STAGES['store']"> Store
        <% elsif @work_item.stage == Pharos::Application::PHAROS_STAGES['record'] %>
            <input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['fetch'] %>"> Fetch<br>
            <input type="radio" name="stage" value="Pharos::Application::PHAROS_STAGES['record']"> Record
        <% else %>
            <input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['fetch'] %>"> Fetch<br>
        <% end %>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
      <button type="button" class="ui-button ui-corner-all ui-widget">Requeue Item</button>
      <button type="button" class="ui-button ui-corner-all ui-widget">Cancel</button>
    </div>
  </div>
  <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
</div>


<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" aria-describedby="dialog-form-dpn" aria-labelledby="ui-id-3" style="position: absolute; height: auto; width: 350px; top: 0px; left: 114.5px; display: block; z-index: 101;">
  <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
    <span id="ui-id-3" class="ui-dialog-title">Confirm Requeue for DPN</span>
    <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
      <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
      <span class="ui-button-icon-space"> </span>Close
    </button>
  </div>
  <div id="dialog-form-dpn" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 269px;">
    <form>
      <fieldset>
        <label for="stage">What stage would you like to requeue to?</label>
        <input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['package'] %>"> Package (Start from scratch)<br>
        <input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['store'] %>"> Store<br>
        <input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['record'] %>"> Record
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
      <button type="button" class="ui-button ui-corner-all ui-widget">Requeue Item</button>
      <button type="button" class="ui-button ui-corner-all ui-widget">Cancel</button>
    </div>
  </div>
  <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
  <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
</div>