<div id="content" class="col-md-10">
  <ol class="breadcrumb">
    <li><a href="#"><%= link_to current_user.institution.name, current_user.institution %></a></li>
  </ol>

  <section class="page-header">
    <h2><%= @work_item.name %></h2>
  </section>

  <section class="queue">
    <table class="table proc_item">
      <tbody>
      <tr>
      <tr><th>Institution</th>
        <td><%= @work_item.institution.identifier %></td></tr>
      <tr><th>Bucket</th>
        <td><%= @work_item.bucket %></td></tr>
      <tr><th>Etag</th>
        <td><%= @work_item.etag %></td></tr>
      <tr><th>Object Identifier</th>
        <td class="identifier"><%= @work_item.object_identifier %></td></tr>
      <% unless @work_item.generic_file_identifier.nil? %>
          <tr><th>Generic File Identifier</th>
            <td class="identifier"><%= @work_item.generic_file_identifier %></td></tr>
      <% end %>
      <tr><th>Bag Date</th>
        <td><%= @work_item.bag_date %></td></tr>
      <tr><th>Date Processed</th>
        <td><%= @work_item.date %></td></tr>
      <tr><th>Queued At</th>
        <td><%= @work_item.queued_at %></td></tr>
      <tr><th>Action</th>
        <td><%= @work_item.action %></td></tr>
      <tr><th>Stage</th>
        <td><%= @work_item.stage %></td></tr>
      <tr class="<%= @work_item.status %>">
        <th>Status</th>
        <td class="status"><%= @work_item.status %></td>
      </tr>
      <tr><th>Size</th>
        <td><%= @work_item.size %></td></tr>
      <tr><th>Retry</th>
        <td><%= @work_item.retry %></td></tr>
      <tr><th>Needs Admin Review?</th>
        <td><%= @work_item.needs_admin_review %></td></tr>
      <tr><th>Note / Error</th>
        <td><%= simple_format(@work_item.note) %></td></tr>
      <% if current_user.admin? %>
          <tr><th>Node</th>
            <td><%= @work_item.node %></td></tr>
          <tr><th>PID</th>
            <td><%= @work_item.pid %></td></tr>
          <tr><th>State</th>
            <td><div style="overflow:auto;max-width:800px;max-height:600px;"><pre><%= @work_item.pretty_state %></pre></div></td></tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>
