<div id="content" class="col-md-10">
  <ol class="breadcrumb">
    <li><a href="#"><%= link_to current_user.institution.name, institution_path(current_user.institution) %></a></li>
  </ol>

  <section class="page-header">
    <h2 class="long_names"><%= @work_item.name %></h2>
  </section>

  <section>
    <p id="work_item_id" class="hidden"><%= @work_item.id %></p>
    <% if current_user.admin? %>
        <% unless @work_item.status == Pharos::Application::PHAROS_STATUSES['success'] %>
          <% if @work_item.action == Pharos::Application::PHAROS_ACTIONS['delete'] %>
                <%= link_to requeue_work_item_path(@work_item.id), { id: 'requeue-btn', class: 'btn doc-action-btn btn-normal requeue-link', data: { confirm: 'Do you really want to requeue this item for deletion?' } } do %>
                    <i class="glyphicon glyphicon-repeat"></i> Requeue
                <% end %>
          <% elsif @work_item.action == Pharos::Application::PHAROS_ACTIONS['restore'] %>
              <%= link_to '#', id: 'requeue-btn', class: 'btn doc-action-btn btn-normal requeue-link', onclick: 'restoreRequeue();' do %>
                  <i class="glyphicon glyphicon-repeat"></i> Requeue
              <% end %>
          <% elsif @work_item.action == Pharos::Application::PHAROS_ACTIONS['glacier_restore'] %>
              <%= link_to '#', id: 'requeue-btn', class: 'btn doc-action-btn btn-normal requeue-link', onclick: 'glacierRestoreRequeue();' do %>
                  <i class="glyphicon glyphicon-repeat"></i> Requeue
              <% end %>
          <% elsif @work_item.action == Pharos::Application::PHAROS_ACTIONS['ingest'] %>
              <%= link_to '#', id: 'requeue-btn', class: 'btn doc-action-btn btn-normal requeue-link', remote: true, onclick: 'ingestRequeue();' do %>
                  <i class="glyphicon glyphicon-repeat"></i> Requeue
              <% end %>
          <% elsif @work_item.action == Pharos::Application::PHAROS_ACTIONS['dpn'] %>
              <%= link_to '#', id: 'requeue-btn', class: 'btn doc-action-btn btn-normal requeue-link', onclick: 'dpnRequeue();' do %>
                  <i class="glyphicon glyphicon-repeat"></i> Requeue
              <% end %>
          <% end %>
        <% end %>
    <% end %>
    <br><br>
    <%= render 'ingest_requeue_form' %>
    <%= render 'restore_requeue_form' %>
    <%= render 'glacier_restore_requeue_form' %>
    <%= render 'dpn_requeue_form' %>
  </section>

  <section class="queue">
    <table class="table proc_item">
      <tbody>
      <tr>
      <tr><th>Institution</th>
        <td><%= @work_item.institution.identifier %></td></tr>
      <tr><th>Bucket</th>
        <td><%= @work_item.bucket %></td></tr>
      <tr><th>Etag</th>
        <td><%= @work_item.etag %></td></tr>
      <tr><th>Object Identifier</th>
      <% if (@work_item.object_identifier.nil? || @work_item.object_identifier == '') %>
            <td class="identifier">Empty Intellectual Object Identifier</td></tr>
      <% else %>
            <td class="identifier"><%= link_to @work_item.object_identifier, intellectual_object_path(@work_item.intellectual_object) %></td></tr>
      <% end %>
      <tr><th>Generic File Identifier</th>
      <% if (@work_item.generic_file_identifier.nil? || @work_item.generic_file_identifier == '' )%>
          <td class="identifier">No associated file</td></tr>
      <% else %>
          <td class="identifier"><%= link_to truncate(@work_item.generic_file_identifier, length: 110), generic_file_path(@work_item.generic_file) %></td></tr>
      <% end %>
      <tr><th>Bag Date</th>
        <td><%= pretty_date(@work_item.bag_date) %></td></tr>
      <tr><th>Date Processed</th>
        <td><%= pretty_date(@work_item.date) %></td></tr>
      <tr><th>Queued At</th>
        <td><%= pretty_date(@work_item.queued_at) %></td></tr>
      <tr><th>Action</th>
        <td><%= @work_item.action %></td></tr>
      <tr><th>Stage</th>
        <td><%= @work_item.stage %></td></tr>
      <tr class="<%= @work_item.status %>">
        <th>Status</th>
        <td class="status"><%= @work_item.status %></td>
      </tr>
      <% if @work_item.action == Pharos::Application::PHAROS_ACTIONS['delete'] %>
            <tr><th>Institutional Approver</th>
              <td><%= @work_item.inst_approver %></td></tr>
            <tr><th>APTrust Approver (for bulk delete)</th>
              <td><%= @work_item.aptrust_approver %></td></tr>
      <% end %>
      <tr><th>Size</th>
        <td><%= number_to_human_size(@work_item.size) %></td></tr>
      <tr><th>Retry</th>
        <td><%= @work_item.retry %></td></tr>
      <tr><th>Needs Admin Review?</th>
        <td><%= @work_item.needs_admin_review %></td></tr>
      <tr><th>Note / Error</th>
        <td><%= simple_format(@work_item.note) %></td></tr>
      <% if current_user.admin? %>
          <tr><th>Node</th>
            <td><%= @work_item.node %></td></tr>
          <tr><th>PID</th>
            <td><%= @work_item.pid %></td></tr>
          <tr>
            <th>
              <% if @show_state %>
              State
              <% else %>
              <a href="?with_state_json=true">State</a>
              <% end %>
            </th>
            <td><div style="overflow:auto;max-width:800px;max-height:600px;"><pre>
              <% if @show_state == true %>
                <%= @work_item.pretty_state %>
              <% end %>
            </pre></div></td></tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>
