<table class="table">
  <thead>
  <tr>
    <th>Identifier</th>
    <th>Remote Node</th>
    <th>Task</th>
    <th>Queued At</th>
    <th>Completed At</th>
    <th>Processing Time</th>
    <th>Stage</th>
    <th>Status</th>
    <th>Note</th>
  </tr>
  </thead>
  <tbody>
  <% @paged_results.each do |item| %>
      <tr>
        <td><a href="<%= dpn_work_item_path(id: item.id) %>" ><%= truncate(item.identifier, length: 50) %></a></td>
        <td><%= item.remote_node %></td>
        <td><%= item.task %></td>
        <td><%= truncate(item.queued_at.to_s, length: 13) %></td>
        <td><%= truncate(item.completed_at.to_s, length: 13) %></td>
        <td><%= dpn_process_time(item) %></td>
        <td><%= item.stage %></td>
        <td class="status"><%= item.status %></td>
        <td><%= truncate(item.note, length: 50) %></td>
      </tr>
  <% end %>
  </tbody>
</table>