<div id="content" class="col-md-10">
  <ol class="breadcrumb">
    <li><a href="#"><%= link_to current_user.institution.name, institution_path(current_user.institution) %></a></li>
  </ol>

  <section class="page-header">
    <h2><%= @dpn_item.identifier %></h2>
  </section>

  <section>
    <p id="dpn_item_id" class="hidden"><%= @dpn_item.id %></p>
    <% if current_user.admin? %>
        <% if @dpn_item.task == 'replication' || @dpn_item.task == 'ingest' %>
            <%= link_to '#', class: 'btn doc-action-btn btn-normal requeue-link', onclick: 'dpnItemRequeue();' do %>
                <i class="glyphicon glyphicon-repeat"></i> Requeue
            <% end %>

        <% elsif @dpn_item.task == 'fixity' %>
            <%= link_to '#', class: 'btn doc-action-btn btn-normal requeue-link', onclick: 'dpnItemFixityRequeue();' do %>
                <i class="glyphicon glyphicon-repeat"></i> Requeue
            <% end %>
        <% end %>
    <% end %>
    <br><br>
    <%= render 'requeue_form' %>
    <%= render 'fixity_requeue_form' %>
  </section>

  <section class="queue">
    <table class="table proc_item">
      <tbody>
      <tr><th>Remote Node</th>
        <td><%= @dpn_item.remote_node %></td></tr>
      <tr><th>Processing Node</th>
        <td><%= @dpn_item.processing_node %></td></tr>
      <tr><th>Task</th>
        <td><%= @dpn_item.task %></td></tr>
      <tr><th>Queued At</th>
        <td><%= pretty_date(@dpn_item.queued_at) %></td></tr>
      <tr><th>Completed At</th>
        <td><%= pretty_date(@dpn_item.completed_at) %></td></tr>
      <tr><th>Processing Time</th>
        <td><%= dpn_process_time(@dpn_item) %></td></tr>
      <tr><th>Stage</th>
        <td><%= @dpn_item.stage %></td></tr>
      <tr><th>Status</th>
        <td><%= @dpn_item.status %></td></tr>
      <tr><th>Retry</th>
        <td><%= @dpn_item.retry %></td></tr>
      <tr><th>Note</th>
        <td><%= @dpn_item.note %></td></tr>
      <tr><th>PID</th>
        <td><%= @dpn_item.pid %></td></tr>
      <tr><th>State</th>
        <td><div style="overflow:auto;max-width:800px;max-height:600px;"><pre>
          <%= @dpn_item.pretty_state %></pre></div>
        </td></tr>
      </tbody>
    </table>
  </section>
</div>
