<table class="table">
  <thead>
  <tr>
    <th>Identifier</th>
    <th>Remote Node</th>
    <th>Task</th>
    <th>Queued At</th>
    <th>Completed At</th>
    <th>Processing Time</th>
    <th>Note</th>
  </tr>
  </thead>
  <tbody>
  <% dpn_items.each do |item| %>
      <tr>
        <td><%= link_to item.identifier, dpn_work_item_path(item.id) %></td>
        <td><%= item.remote_node %></td>
        <td><%= item.task %></td>
        <% if item.queued_at.nil? %>
            <td> </td>
        <% else %>
            <td><%= truncate(item.queued_at.to_s, length: 10) %></td>
        <% end %>
        <% if item.completed_at.nil? %>
            <td> </td>
        <% else %>
            <td><%= truncate(item.completed_at.to_s, length: 10) %></td>
        <% end %>
        <td><%= dpn_process_time(item) %></td>
        <th><%= truncate(item.note, length: 50) %></th>
      </tr>
  <% end %>
  </tbody>
</table>