<% @title = 'Alerts' %>

<div class="page-header">
  <h1 id="alerts_title">Alerts</h1>
  <%= link_to alerts_summary_path, {class: 'btn doc-action-btn btn-normal', id: 'alert-summary-button'} do %>
      <i class="glyphicon glyphicon-list"></i> Summary of Alerts
  <% end %>
</div>

<ul class="nav nav-tabs" id="alert_index_tabs">
  <li><a href="#fixity" data-toggle="tab">Failed Fixity Checks</a></li>
  <li><a href="#ingest" data-toggle="tab">Failed Ingests</a></li>
  <li><a href="#restore" data-toggle="tab">Failed Restorations</a></li>
  <li><a href="#delete" data-toggle="tab">Failed Deletions</a></li>
  <li><a href="#stalled" data-toggle="tab">Stalled Work Items</a></li>
</ul>

<div class="tab-content" id="inst_show_content">
  <div class="tab-pane" id="fixity">
    <br><p>Total Failed Fixity Checks: <%= @alerts_list[:failed_fixity_checks].count %></p>
    <%= render 'premis_event_results', events: @alerts_list[:failed_fixity_checks] %>
  </div>

  <div class="tab-pane" id="ingest">
    <br><p>Total Failed Ingests: <%= @alerts_list[:failed_ingests].count %></p>
    <%= render 'work_item_results', work_items: @alerts_list[:failed_ingests] %>
  </div>

  <div class="tab-pane" id="restore">
    <br><p>Total Failed Restorations: <%= @alerts_list[:failed_restorations].count %></p>
    <%= render 'work_item_results', work_items: @alerts_list[:failed_restorations] %>
  </div>

  <div class="tab-pane" id="delete">
    <br><p>Total Failed Deletions: <%= @alerts_list[:failed_deletions].count %></p>
    <%= render 'work_item_results', work_items: @alerts_list[:failed_deletions] %>
  </div>

  <div class="tab-pane" id="stalled">
    <br><p>Total Stalled Work Items: <%= @alerts_list[:stalled_work_items].count %></p>
    <%= render 'work_item_results', work_items: @alerts_list[:stalled_work_items] %>
  </div>
</div>
