<% unless @action_counts == {} %>
<div id="action-parent" class="panel panel-default">
  <div id="filter-title-action" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-action">
    <h5 class="panel-title">
      Work Item Action <span class="action-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-action" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:item_action] %>
            <script>selected("action", "<%= @selected[:item_action] %>", "<%=url_for(params.permit(Pharos::Application::PARAMS_HASH).except :item_action)%>")</script>
        <% else %>
            <% @action_counts.each do |action, count| %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('item_action', action) %>"><%= action %></a></span>
                      <span class="facet-count">(<%= count %>)</span>
                    </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>