<% unless @event_type_counts == {} %>
<div id="event_type-parent" class="panel panel-default">
  <div id="filter-title-event_type" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-event_type">
    <h5 class="panel-title">
      Event Type <span class="event_type-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-event_type" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:event_type] %>
            <script>selected("event_type", "<%= @selected[:event_type].capitalize %>", "<%=url_for(params.except :event_type)%>")</script>
        <% else %>
            <% @event_types.each do |type| %>
                <% unless @event_type_counts[type] == 0 || @event_type_counts[type].nil? || type.nil? %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('event_type', type) %>"><%= type.capitalize %></a></span>
                      <span class="facet-count"><%= @event_type_counts[type] %></span>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>