<% unless @format_counts == {} %>
<div id="format-parent" class="panel panel-default">
  <div id="filter-title-format" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-format">
    <h5 class="panel-title">
      File Format <span class="format-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-format" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:file_format] %>
            <script>selected("format", "<%= @selected[:file_format] %>", "<%=url_for(params.except :file_format)%>")</script>
        <% else %>
            <% @formats.each do |format| %>
                <% unless @format_counts[format] == 0 || @format_counts[format].nil? || format.nil? %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('file_format', format) %>"><%= format %></a></span>
                      <span class="facet-count"><%= @format_counts[format] %></span>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>