<% unless @inst_counts == {} %>
<div id="institution-parent" class="panel panel-default">
  <div id="filter-title-institution" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-institution">
    <h5 class="panel-title">
      Institution <span class="institution-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-institution" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:institution] %>
            <% current_inst = Institution.find(@selected[:institution]) %>
            <script>selected("institution", "<%= current_inst.name %>", "<%=url_for(params.except :institution)%>")</script>
        <% else %>
            <% @institutions.each do |institution| %>
                <% current_inst = Institution.find(institution) %>
                <% unless @inst_counts[institution] == 0 || @inst_counts[institution].nil? || institution.nil? %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('institution', institution) %>"><%= current_inst.name %></a></span>
                      <span class="facet-count"><%= @inst_counts[institution] %></span>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>