<% if @node_counts %>
    <div id="node-parent" class="panel panel-default">
      <div id="filter-title-node" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-node">
        <h5 class="panel-title">
          Remote Node <span class="node-carat glyphicon glyphicon-chevron-right"></span>
        </h5>

      </div>
      <div id="filter-node" class="panel-collapse facet-content collapse" style="height: 0px">
        <div class="panel-body">
          <ul class="facet-values list-unstyled">
            <% if @selected[:remote_node] %>
                <script>selected("node", "<%= @selected[:remote_node].capitalize %>", "<%=url_for(params.permit(Pharos::Application::PARAMS_HASH).except :remote_node)%>")</script>
            <% else %>
                <% @node_counts.each do |node, count| %>
                        <li>
                          <span class="facet-label"><a href="<%= current_path('remote_node', node) %>"><%= node.capitalize %></a></span>
                          <span class="facet-count">(<%= count %>)</span>
                        </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>