<% unless @io_assc_counts == {} %>
<div id="oassociation-parent" class="panel panel-default">
  <div id="filter-title-oassociation" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-oassociation">
    <h5 class="panel-title">
      Associated Object <span class="oassociation-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-oassociation" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:object_association] %>
            <% current_obj = IntellectualObject.find(@selected[:object_association]) %>
            <script>selected("oassociation", "<%= current_obj.identifier %>", "<%=url_for(params.except :object_association)%>")</script>
        <% else %>
            <% @object_associations.each do |assc| %>
                <% unless @io_assc_counts[assc] == 0 || @io_assc_counts[assc].nil? || assc.nil? %>
                    <% current_obj = IntellectualObject.find(assc) %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('object_association', assc) %>"><%= current_obj.identifier %></a></span>
                      <span class="facet-count"><%= @io_assc_counts[assc] %></span>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>