<% unless @outcome_counts == {} %>
<div id="outcome-parent" class="panel panel-default">
  <div id="filter-title-outcome" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-outcome">
    <h5 class="panel-title">
      Event Outcome <span class="outcome-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-outcome" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:outcome] %>
            <script>selected("outcome", "<%= @selected[:outcome].capitalize %>", "<%=url_for(params.except :outcome)%>")</script>
        <% else %>
            <%= %>
            <% @outcomes.each do |outcome| %>
                <% unless @outcome_counts[outcome] == 0 || @outcome_counts[outcome].nil? || outcome.nil? %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('outcome', outcome) %>"><%= outcome.capitalize %></a></span>
                      <span class="facet-count"><%= @outcome_counts[outcome] %></span>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>