<% if @queued_counts %>
    <div id="queued-parent" class="panel panel-default">
      <div id="filter-title-queued" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-queued">
        <h5 class="panel-title">
          Queued Status <span class="queued-carat glyphicon glyphicon-chevron-right"></span>
        </h5>

      </div>
      <div id="filter-queued" class="panel-collapse facet-content collapse" style="height: 0px">
        <div class="panel-body">
          <ul class="facet-values list-unstyled">
            <% if @selected[:queued] %>
                <script>selected("queued", "<%= @selected[:queued].capitalize %>", "<%=url_for(params.permit(Pharos::Application::PARAMS_HASH).except :queued)%>")</script>
            <% else %>
                <li>
                  <span class="facet-label"><a href="<%= current_path('queued', 'is_queued') %>">Is Queued</a></span>
                  <span class="facet-count">(<%= @queued_counts[:is_queued] %>)</span>
                </li>
                <li>
                  <span class="facet-label"><a href="<%= current_path('queued', 'is_not_queued') %>">Is Not Queued</a></span>
                  <span class="facet-count">(<%= @queued_counts[:is_not_queued] %>)</span>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>