<% if @status_counts %>
<% unless @status_counts.values.count == 1 && @status_counts.values[0].nil? %>
<div id="status-parent" class="panel panel-default">
  <div id="filter-title-status" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-status">
    <h5 class="panel-title">
      Item Status <span class="status-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-status" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:status] %>
            <script>selected("status", "<%= @selected[:status] %>", "<%=url_for(params.permit(Pharos::Application::PARAMS_HASH).except :status)%>")</script>
        <% else %>
            <% @status_counts.each do |status, count| %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('status', status) %>"><%= status %></a></span>
                      <span class="facet-count">(<%= count %>)</span>
                    </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
<% end %>