<% unless @stage_counts == {} %>
<div id="stage-parent" class="panel panel-default">
  <div id="filter-title-stage" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-stage">
    <h5 class="panel-title">
      Work Item Stage <span class="stage-carat glyphicon glyphicon-chevron-right"></span>
    </h5>
  </div>
  <div id="filter-stage" class="panel-collapse facet-content collapse" style="height: 0px">
    <div class="panel-body">
      <ul class="facet-values list-unstyled">
        <% if @selected[:stage] %>
            <script>selected("stage", "<%= @selected[:stage] %>", "<%=url_for(params.except :stage)%>")</script>
        <% else %>
            <% @stages.each do |stage| %>
                <% unless @stage_counts[stage] == 0 || @stage_counts[stage].nil? || stage.nil? %>
                    <li>
                      <span class="facet-label"><a href="<%= current_path('stage', stage) %>"><%= stage %></a></span>
                      <span class="facet-count"><%= @stage_counts[stage] %></span>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>