<div id="content" class="col-md-9 show-document">
  <ol class="breadcrumb">
    <li><%= link_to @institution.name, institution_path(@institution) %></li>
  </ol>

  <div class="page-header">
    <h1 class="long_names">Snapshot of <%= @institution.name %></h1>
  </div>

  <div class="object_info">
    <dl class="dl-horizontal dl-invert">
      <dt>Date of Snapshot</dt>
      <dd><%= pretty_date(@snapshot.audit_date) %>]</dd>
      <dt>Bytes Stored in APTrust</dt>
      <dd><%= number_to_human_form(@snapshot.apt_bytes) %></dd>
      <dt>Storage Cost</dt>
      <dd><%= @snapshot.cost %></dd>
    </dl>
  </div>

</div>