<% # container for a single doc -%>
<div class="document <%= render_document_class intellectual_object %>">

  <% # header bar for doc items in index view -%>
  <section class="documentHeader clearfix">

    <%- # main title container for doc partial view -%>
    <h5 class="index_title col-sm-9 col-lg-9">
      <% counter = document_counter_with_offset(intellectual_object_counter) %>
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
      <%= link_to_document intellectual_object, :label=>document_show_link_field(intellectual_object), :counter => counter %>
    </h5>

    <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions intellectual_object, :wrapping_class => "index-document-functions col-sm-3 col-lg-3" %>
  </section>

  <dl class="document-metadata dl-horizontal dl-invert">
    <% index_fields(intellectual_object).each do |solr_fname, field| -%>
        <% if should_render_index_field? intellectual_object, field %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label intellectual_object, :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value intellectual_object, :field => solr_fname %></dd>
        <% end -%>
    <% end -%>

    <% if intellectual_object['object_state_ssi'] == 'D' %>
        <dt>State</dt>
        <dd>Deleted</dd>
    <% end %>
  </dl>
</div>