<div id="sidebar" class="col-md-3">
  <%= render 'facets' %>
</div>

<div id="content" class="col-md-9">

  <h2 class="top-content-title">Objects for <%= @institution.name %></h2>
  <% @page_title = t('Search', :application_name => 'something') %>

  <%- if @intellectual_objects.empty? %>
      <%= render "shared/zero_results" %>
  <%- elsif render_grouped_response? %>
      <%= render_grouped_document_index %>
  <%- else %>
      <%= render_document_index %>
  <%- end %>


</div>