<div id="content" class="col-md-9 show-document">
  <ol class="breadcrumb">
    <li><%= link_to @institution.name, institution_path(@institution) %></li>
    <li class="active"><%= @intellectual_object.title %></li>
  </ol>

  <div class="page-header">
    <h1 class="long_names"><%= @intellectual_object.title %></h1>
  </div>

  <div class="object_info">
    <dl class="dl-horizontal dl-invert">
      <dt>Institution</dt>
      <dd><%= link_to @institution.name, institution_path(@institution) %> [<%= @institution.brief_name %>]</dd>
      <dt>Access</dt>
      <dd><%= @intellectual_object.access.capitalize %></dd>
      <dt>Identifier</dt>
      <dd><%= @intellectual_object.identifier %></dd>
      <dt>Bag Group Identifier</dt>
      <% if @intellectual_object.bag_group_identifier == '' %>
          <dd>-------</dd>
      <% else %>
          <dd><%= link_to @intellectual_object.bag_group_identifier, search_path(object_type: 'Intellectual Objects', search_field: 'Bag Group Identifier', q: @intellectual_object.bag_group_identifier) %></dd>
      <% end %>
      <dt>Bag Name</dt>
      <dd><%= @intellectual_object.bag_name %></dd>
      <dt> Created </dt>
      <dd> <%= pretty_date(@intellectual_object.created_at) %> </dd>
      <dt> Last Modified </dt>
      <dd> <%= pretty_date(@intellectual_object.updated_at) %> </dd>
      <dt>Description</dt>
      <dd><%= @intellectual_object.description %></dd>
      <dt>Alternate Identifier</dt>
      <dd><%= @intellectual_object.alt_identifier %></dd>
      <dt>Storage Type</dt>
      <dd><%= @intellectual_object.storage_option %></dd>
      <dt>DPN Status</dt>
      <% if @intellectual_object.in_dpn? %>
          <% if @intellectual_object.dpn_bag.nil? %>
              <dd>Item is in DPN but DPN Bag information is not yet available, please check back later.</dd>
          <% else %>
              <dd>Item is in DPN with id <%= link_to @intellectual_object.dpn_uuid, dpn_bag_path(id: @intellectual_object.dpn_bag.id) %></dd>
          <% end %>
      <% else %>
          <dd>Item does not reside in DPN.</dd>
      <% end %>
      <% if @intellectual_object.state == 'D' %>
          <dt><i><b>State</b></i></dt>
          <dd><i>This object has been deleted.</i></dd>
      <% end %>
    </dl>
  </div>

  <div class="panel">
    <%= link_to intellectual_object_files_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-list-alt"></i> View Preserved Files
    <% end %>
    <%= link_to intellectual_object_events_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-eye-open"></i> View Events
    <% end %>
    <%= link_to object_report_path(@intellectual_object), {class: 'btn doc-action-btn, btn-normal'} do %>
        <i class="glyphicon glyphicon-list"></i> View Object Report
    <% end %>
    <% unless @intellectual_object.state == 'D' || @intellectual_object.all_files_deleted?  %>
        <% if current_user.admin? || (current_user.institutional_admin? && current_user.institution_id == @intellectual_object.institution_id) %>
            <%= link_to intellectual_object_restore_path(@intellectual_object.identifier), {class: 'btn doc-action-btn btn-normal'} do %>
                <i class="glyphicon glyphicon-download"></i> Restore Object
            <% end %>
            <% if (Pharos::Application.config.show_send_to_dpn_button == true && @intellectual_object.in_dpn? == false && @intellectual_object.too_big? == false && @intellectual_object.glacier_only? == false)%>
                <%= link_to intellectual_object_send_to_dpn_path(@intellectual_object.identifier), {class: 'btn doc-action-btn btn-normal', id: 'dpn-button'} do %>
                    <i class="glyphicon glyphicon-send dpn"></i> Send Object To DPN
                <% end %>
            <% end %>
            <%= destroy_link(@intellectual_object) %>
        <% end %>
    <% end %>
  </div>

</div>
