<% @title = "Object #{@intellectual_object.identifier}" %>

<div id="content" class="col-md-9 show-document">
  <ol class="breadcrumb">
    <li><%= link_to @institution.name, institution_path(@institution) %></li>
    <li class="active"><%= @intellectual_object.title %></li>
  </ol>

  <div class="page-header">
    <h1 class="long_names"><%= @intellectual_object.title %></h1>
  </div>

  <div class="object_info">
    <dl class="dl-horizontal dl-invert">
      <dt>Institution</dt>
      <dd><%= link_to @institution.name, institution_path(@institution) %></dd>
      <dt>Access</dt>
      <dd><%= @intellectual_object.access.capitalize %></dd>
      <dt>Identifier</dt>
      <dd><%= @intellectual_object.identifier %></dd>
      <dt>Bag Group Identifier</dt>
      <% if @intellectual_object.bag_group_identifier.blank? %>
          <dd>-------</dd>
      <% else %>
          <dd><%= link_to @intellectual_object.bag_group_identifier, search_path(object_type: 'Intellectual Objects', search_field: 'Bag Group Identifier', q: @intellectual_object.bag_group_identifier) %></dd>
      <% end %>
      <dt>Source Organization</dt>
      <% if @intellectual_object.source_organization.blank? %>
          <dd>-------</dd>
      <% else %>
          <dd><%= link_to @intellectual_object.source_organization, search_path(object_type: 'Intellectual Objects', search_field: 'Source Organization', q: @intellectual_object.source_organization) %></dd>
      <% end %>
      <dt>Internal Sender Identifier</dt>
      <% if @intellectual_object.internal_sender_identifier.blank? %>
          <dd>-------</dd>
      <% else %>
          <dd><%= link_to @intellectual_object.internal_sender_identifier, search_path(object_type: 'Intellectual Objects', search_field: 'Internal Sender Identifier', q: @intellectual_object.internal_sender_identifier) %></dd>
      <% end %>
      <dt>Internal Sender Description</dt>
      <% if @intellectual_object.internal_sender_description.blank? %>
          <dd>-------</dd>
      <% else %>
          <dd><%= @intellectual_object.internal_sender_description%></dd>
      <% end %>
      <dt>Bag Name</dt>
      <dd><%= @intellectual_object.bag_name %></dd>
      <dt> Created </dt>
      <dd> <%= pretty_date(@intellectual_object.created_at) %> </dd>
      <dt> Last Modified </dt>
      <dd> <%= pretty_date(@intellectual_object.updated_at) %> </dd>
      <dt>Description</dt>
      <dd><%= @intellectual_object.description %></dd>
      <dt>Alternate Identifier</dt>
      <dd><%= @intellectual_object.alt_identifier %></dd>
      <dt>Storage Type</dt>
      <dd><%= @intellectual_object.storage_option %></dd>
      <% if @intellectual_object.state == 'D' %>
          <dt><i><b>State</b></i></dt>
          <dd><i>This object has been deleted.</i></dd>
      <% end %>
    </dl>
  </div>

  <div class="panel">
    <%= link_to intellectual_object_files_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-list-alt"></i> View Preserved Files
    <% end %>
    <%= link_to intellectual_object_events_path(@intellectual_object), {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-eye-open"></i> View Events
    <% end %>
    <%= link_to object_report_path(@intellectual_object), {class: 'btn doc-action-btn, btn-normal'} do %>
        <i class="glyphicon glyphicon-list"></i> View Object Report
    <% end %>
    <% unless @intellectual_object.state == 'D' || @intellectual_object.all_files_deleted?  %>
        <% if current_user.admin? || (current_user.institutional_admin? && current_user.institution_id == @intellectual_object.institution_id) %>
            <%= link_to intellectual_object_restore_path(@intellectual_object.identifier), {class: 'btn doc-action-btn btn-normal'} do %>
                <i class="glyphicon glyphicon-download"></i> Restore Object
            <% end %>
            <%= destroy_link(@intellectual_object) %>
        <% end %>
    <% end %>
  </div>

</div>
