<% # container for a single doc -%>
<div class="document">

  <% # header bar for doc items in index view -%>
  <section class="documentHeader clearfix">

    <%- # main title container for doc partial view -%>
    <h5 class="index_title col-sm-9 col-lg-9">
      <%= counter %>. <%= link_to current.identifier, generic_file_path(current) %>
    </h5>

  </section>

  <dl class="document-metadata dl-horizontal dl-invert">
    <dt>Institution: </dt>
    <dd><%= current.institution.name %></dd>
    <dt>Mimetype: </dt>
    <dd><%= current.file_format %></dd>
    <dt>File Size: </dt>
    <dd><%= current.size %></dd>
    <dt>Created: </dt>
    <dd><%= pretty_date(current.created_at) %></dd>
    <dt>Last Modified: </dt>
    <dd><%= pretty_date(current.updated_at) %></dd>
    <% if current.state == 'D' %>
        <dt>State</dt>
        <dd>Deleted</dd>
    <% end %>
  </dl>
</div>