<% # container for a single doc -%>
<div class="document">

  <% # header bar for doc items in index view -%>
  <section class="documentHeader clearfix">

    <%- # main title container for doc partial view -%>
    <h5 class="index_title col-sm-9 col-lg-9">
      <%= counter %>. <%= link_to current.name, work_item_path(current.id) %>
    </h5>

  </section>

  <dl class="document-metadata dl-horizontal dl-invert">
    <dt>Institution: </dt>
    <dd><%= current.institution.identifier %></dd>
    <dt>Etag: </dt>
    <dd><%= current.etag %></dd>
    <dt>Processed: </dt>
    <dd><%= time_ago_in_words current.date %></dd>
    <dt>Action: </dt>
    <dd><%= current.action %></dd>
    <dt>Stage: </dt>
    <dd><%= current.stage %></dd>
    <dt class="<%= current.status %>">Status: </dt>
    <dd class="<%= current.status %>"><%= current.status %></dd>
  </dl>
</div>