<% # container for a single doc -%>
<div class="document">

  <% # header bar for doc items in index view -%>
  <section class="documentHeader clearfix">

    <%- # main title container for doc partial view -%>
    <h5 class="index_title col-sm-9 col-lg-9">
      <%= counter %>. <%= link_to current.title, intellectual_object_path(current) %>
    </h5>

  </section>

  <dl class="document-metadata dl-horizontal dl-invert">
    <dt>Institution: </dt>
    <dd><%= current.institution.name %></dd>
    <dt>Identifier: </dt>
    <dd><%= current.identifier %></dd>
    <dt>Bag Name: </dt>
    <dd><%= current.bag_name %></dd>
    <dt>Last Modified: </dt>
    <dd><%= pretty_date(current.updated_at) %></dd>
    <dt>Description: </dt>
    <dd><%= current.description %></dd>
    <% unless current.alt_identifier.nil? || current.alt_identifier == '' || current.alt_identifier == [] %>
        <dt>Alternate Identifiers: </dt>
        <% idents = current.alt_identifier.split(',') %>
        <% idents.each do |alt| %>
            <dd><%= alt %></dd>
        <% end %>
    <% end %>
    <% if current.state == 'D' %>
        <dt>State</dt>
        <dd>Deleted</dd>
    <% end %>
  </dl>
</div>
