<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="cost">
    <h3>Cost Analysis</h3>
    <% if @institution.is_a?(SubscriptionInstitution) || @cost_report[:subscribers].nil? %>
        <p>You currently have <%= number_to_human_size(@cost_report[:total_file_size]) %> stored, billed at <%= number_to_currency(number_with_delimiter(cost_analysis_subscriber(@cost_report[:total_file_size]), delimiter: ',')) %>.</p>
    <% else %>
        <p>You currently have <%= number_to_human_size(@cost_report[:subscribers]['total_bytes']) %> stored, billed at <%= number_to_currency(number_with_delimiter(cost_analysis_member(@cost_report[:subscribers]['total_bytes']), delimiter: ',')) %>.</p>
        <p>If your cost is $0.00, then you have not yet used the full 10TB afforded by your membership.</p>
        <h3>Sub Account Cost Breakdown</h3>
        <% if @cost_report[:subscribers].nil? || @cost_report[:subscribers] == {} || @cost_report[:subscribers].count == 1 %>
            <p>You currently have no sub accounts</p>
        <% else %>
            <table class="table table-striped sortable">
              <thead>
              <tr>
                <th>Sub Account</th>
                <th>Cost</th>
              </tr>
              </thead>
              <tbody>
              <% @cost_report[:subscribers].each do |key, value| %>
                  <% unless key == 'total_bytes' %>
                      <tr>
                        <td><%= key %></td>
                        <td><%= number_to_currency(number_with_delimiter(cost_analysis_subscriber(@cost_report[:subscribers][key]), delimiter: ',')) %></td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
        <% end %>
    <% end %>
    <h3>Previous Database Cost Analysis Snapshots</h3>
    <table class="table table-striped sortable">
      <thead>
      <tr>
        <th>Snapshot Type</th>
        <th>Audit Date</th>
        <th class="bytes_num">Bytes in APTrust</th>
        <th>(Readable)</th>
        <th>Storage Cost</th>
      </tr>
      </thead>
      <tbody>
      <% unless @institution.snapshots.nil? %>
          <% @institution.snapshots.each do |snapshot| %>
              <tr>
                <td><%= snapshot.snapshot_type %></td>
                <td><%= pretty_date(snapshot.audit_date) %></td>
                <td align="right"><%= snapshot.apt_bytes %></td>
                <td><%= number_to_human_size(snapshot.apt_bytes) %></td>
                <td><%= number_to_currency(number_with_delimiter(snapshot.cost, delimiter: ',')) %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

</div>