<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="overview">
    <br><dl class="dl-horizontal">
    <dt>Intellectual Objects</dt>
    <dd><%= @basic_report[:intellectual_objects] %></dd>
    <dt>Generic Files</dt>
    <dd><%= @basic_report[:generic_files] %></dd>
    <dt>Premis Events</dt>
    <dd><%= @basic_report[:premis_events] %></dd>
    <dt>Work Items</dt>
    <dd><%= @basic_report[:work_items] %></dd>
    <dt>Average File Size</dt>
    <dd><%= number_to_human_size(@basic_report[:average_file_size]) %></dd>
    <% if @institution.is_a?(MemberInstitution) && @institution.name != 'APTrust' %>
        <dt>Total Bytes (Self Only)</dt>
        <dd><%= number_to_human_size(@basic_report[:total_file_size]) %></dd>
        <% if @basic_report[:subscribers].nil? || @basic_report[:subscribers] == {} || @basic_report[:subscribers].count == 1 %>
            <dt>Subscribers</dt>
            <dd>None</dd>
        <% else %>
            <dt>Total Bytes (Including Subscribers) </dt>
            <dd><%= number_to_human_size(@basic_report[:subscribers]['total_bytes']) %></dd>
            <dt>Subscribers</dt>
            <dd><%= @basic_report[:subscribers].count - 1 %></dd>
        <% end %>
    <% else %>
        <dt>Total Bytes </dt>
        <dd><%= number_to_human_size(@basic_report[:total_file_size]) %></dd>
    <% end %>
  </dl>

    <%= link_to "#{institution_overview_path(@institution.identifier)}?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
    <% end %>
  </div>

</div>