<div class="page-header">
  <h1>Reports for <%= @institution.name %></h1>
</div>

<ul class="nav nav-tabs" id="inst_show_tabs">
  <li><a href="#overview" data-toggle="tab">General Overview</a></li>
  <% if @institution.is_a?(MemberInstitution) %>
      <li><a href="#subscribers" data-toggle="tab">Subscriber Overview</a></li>
  <% end %>
  <li><a href="#cost" data-toggle="tab">Cost Breakdown</a></li>
  <li><a href="#timeline" data-toggle="tab">Deposits Over Time</a></li>
  <li><a href="#mimetype" data-toggle="tab">Mimetype Breakdown</a></li>
  <% if policy(current_user).institution_breakdown? %>
      <li><a href="#breakdown" data-toggle="tab">Institution Breakdown</a></li>
  <% end %>
</ul>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="overview">
    <br><dl class="dl-horizontal">
      <dt>Intellectual Objects</dt>
      <dd><%= @overview_report[:intellectual_objects] %></dd>
      <dt>Generic Files</dt>
      <dd><%= @overview_report[:generic_files] %></dd>
      <dt>Premis Events</dt>
      <dd><%= @overview_report[:premis_events] %></dd>
      <dt>Work Items</dt>
      <dd><%= @overview_report[:work_items] %></dd>
      <dt>Average File Size</dt>
      <dd><%= number_to_human_size(@overview_report[:average_file_size]) %></dd>
      <dt>Total Bytes Preserved</dt>
      <% if @institution.is_a?(MemberInstitution) && @institution.name != 'APTrust' %>
          <dd><%= number_to_human_size(@overview_report[:bytes_by_format]['all']) %></dd>
          <% if @overview_report[:subscribers].nil? || @overview_report[:subscribers] == {} || @overview_report[:subscribers].count == 1 %>
              <dt>Subscribers</dt>
              <dd>None</dd>
          <% else %>
              <dt>Subscribers</dt>
              <dd><%= @overview_report[:subscribers].count - 1 %></dd>
          <% end %>
      <% else %>
          <dd><%= number_to_human_size(@overview_report[:bytes_by_format]['all']) %></dd>
      <% end %>
    </dl>

    <%= link_to "#{@institution.identifier}?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
    <% end %>
  </div>

  <div class="tab-pane" id="subscribers">
    <br>
      <% if @overview_report[:subscribers].nil? || @overview_report[:subscribers] == {} || @overview_report[:subscribers].count == 1 %>
         <p>You currently have no subscribers</p>
      <% else %>
        <dl class="dl-horizontal">
          <% @overview_report[:subscribers].each do |key, value| %>
              <% unless key == 'total_bytes' %>
                  <dt><%= key %></dt>
                  <dd><%= number_to_human_size(value) %></dd>
              <% end %>
          <% end %>
        </dl>
      <% end %>
  </div>

  <div class="tab-pane" id="cost">
    <% if @institution.is_a?(SubscriptionInstitution) || @overview_report[:subscribers].nil? %>
        <% price = cost_analysis_subscriber(@overview_report[:bytes_by_format]['all']) %>
        <br>
    <% else %>
        <% price = cost_analysis_member(@overview_report[:subscribers]['total_bytes']) %>
        <br><p>If your cost is $0.00, then you have not yet used the full 10TB afforded by your membership.</p>
    <% end %>
    <p>You currently have <%= number_to_human_size(@overview_report[:bytes_by_format]['all']) %> stored, billed at <%= price %>.</p>
    <h3>Previous Database Cost Analysis Snapshots</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Audit Date</th>
        <th>Data in APTrust</th>
        <th>Data in DPN</th>
        <th>Storage Cost</th>
      </tr>
      </thead>
      <tbody>
      <% unless @institution.snapshots.nil? %>
          <% @institution.snapshots.each do |snapshot| %>
          <tr>
            <td><%= snapshot.audit_date %></td>
            <td><%= number_to_human_size(snapshot.apt_bytes) %></td>
            <td><%= number_to_human_size(snapshot.dpn_bytes) %></td>
            <td><%= snapshot.cost %></td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="timeline">
    <% if @institution.name? != 'APTrust' %>
        <canvas id="indiv_timeline_chart" width="400" height="400"></canvas>
        <script>timeline_labels = [];</script>
        <script>timeline_data = [];</script>
        <% @indiv_timeline_breakdown.first.each do |label| %>
            <script>timeline_labels.push("<%= label %>");</script>
        <% end %>
        <% @indiv_timeline_breakdown.last.each do |data_point| %>
            <script>timeline_data.push(<%= data_point %>);</script>
        <% end %>
        <script>timeline_graph(timeline_labels, timeline_data);</script>
    <% end %>
  </div>

  <div class="tab-pane" id="mimetype">
    <table>
      <tr>
        <td>
          <dl class="dl-horizontal">
            <script>var graph_hash = {}</script>
            <% sorted_hash = Hash[ @overview_report[:bytes_by_format].sort_by { |key, value| key } ] %>
            <% sorted_hash.each do |key, value| %>
                <% unless key == 'all' %>
                    <dt><%= key %></dt>
                    <dd><%= number_to_human_size(value) %></dd>
                    <script>graph_hash["<%= key %>"] = <%= value %></script>
                <% end %>
            <% end %>
          </dl>
        </td>
        <td>
          <canvas id="indiv_mimetype_chart"></canvas>
          <script>individual_mimetype(graph_hash)</script>
        </td>
      </tr>
    </table>
  </div>

  <div class="tab-pane" id="breakdown">
    <br><ul class="inst_breakdown_list">
      <dl class="dl-horizontal">
        <% @inst_breakdown_report.each do |key, value| %>
            <% value.each do |nested_key, nested_value| %>
                <% if nested_key == :subscriber_number %>
                    <li><ul><li><dt>Number of Subscribers</dt>
                      <dd><%= nested_value %></dd></li></ul></li>
                <% else %>
                    <% if nested_key == key %>
                        <li><dt><%= nested_key %></dt>
                          <dd><%= number_to_human_size(nested_value) %></dd></li>
                    <% else %>
                        <li><ul><li><dt><%= nested_key %></dt>
                          <dd><%= number_to_human_size(nested_value) %></dd></li></ul></li>
                    <% end %>
                <% end %>
            <% end %>

        <% end %>
      </dl>
    </ul>

    <%= link_to "?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
    <% end %>
  </div>

</div>