<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="breakdown">
    <h3>Content Preserved by Institution</h3>
    <p>Report generated on <%= @report_time.strftime("%B %d, %Y") %> at <%= @report_time.strftime("%H:%M %Z") %></p>
    <br>
    <table class="table table-striped sortable">
      <thead>
      <tr>
        <th>Institution</th>
        <th class="bytes_num">Bytes Preserved (Self Only)</th>
        <th>(Readable)</th>
        <th class="bytes_num">Bytes Preserved (Including Sub Accounts)</th>
        <th>(Readable)</th>
        <th>Number of Sub Accounts</th>
      </tr>
      </thead>
      <tbody>

      <% @inst_breakdown_report.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td align="right"><%= value[:size] %></td>
            <td padding-right="50px">(<%= number_to_human_size(value[:size]) %>)</td>
                <td align="right"><%= value[:total_size] %></td>
                <td padding-right="50px">(<%= number_to_human_size(value[:total_size]) %>)</td>
            <td><%= number_with_delimiter(value[:subscriber_number], delimiter: ',') %></td>
          </tr>
          <% value.each do |nested_key, nested_value| %>
              <% if nested_key != :subscriber_number && nested_key != :size && nested_key != :total_size %>
                  <tr>
                    <td><%= nested_key %></td>
                    <td align="right"><%= nested_value %></td>
                    <td padding-right="50px">(<%= number_to_human_size(nested_value) %>)</td>
                    <td align="right"><%= nested_value %></td>
                    <td padding-right="50px">(<%= number_to_human_size(nested_value) %>)</td>
                    <td>Sub Account of <%= key %></td>
                  </tr>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>

    <%= link_to "?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
    <% end %>
  </div>

</div>