<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="breakdown">
    <br><ul class="inst_breakdown_list">
    <dl class="dl-horizontal">
      <% @inst_breakdown_report.each do |key, value| %>
          <% value.each do |nested_key, nested_value| %>
              <% if nested_key == :subscriber_number %>
                  <li><ul><li><dt>Number of Subscribers</dt>
                    <dd><%= nested_value %></dd></li></ul></li>
              <% else %>
                  <% if nested_key == key %>
                      <li><dt><%= nested_key %></dt>
                        <dd><%= number_to_human_size(nested_value) %></dd></li>
                  <% else %>
                      <li><ul><li><dt><%= nested_key %></dt>
                        <dd><%= number_to_human_size(nested_value) %></dd></li></ul></li>
                  <% end %>
              <% end %>
          <% end %>

      <% end %>
    </dl>
  </ul>

    <%= link_to "?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
    <% end %>
  </div>

</div>