<%= render partial: 'header' %>

<h2 align="center">Institution Data Usage</h2>

<table class="dl-horizontal">
  <% @inst_breakdown_report.each do |key, value| %>
      <% value.each do |nested_key, nested_value| %>
          <% if nested_key == :subscriber_number %>
              <th width="300px" align="left" style="font-weight: 100; float: left; overflow: hidden; white-space: nowrap;">Number of Sub Accounts</th>
              <th width="370px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= nested_value %></th>
          <% else %>
              <% if nested_key == :size %>
                  <th width="300px" align="left" style="float: left; overflow: hidden; white-space: nowrap;"><%= key %></th>
                  <th width="370px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= number_to_human_size(nested_value) %></th>
              <% else %>
                  <th width="300px" align="left" style="float: left; overflow: hidden; white-space: nowrap; font-weight: 100;"><%= nested_key %></th>
                  <th width="370px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= number_to_human_size(nested_value) %></th>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
</table>

<%= render partial: 'footer' %>