<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="breakdown">
    <br>

    <ul class="inst_breakdown_list">
    <dl class="dl-horizontal">

    </dl>
  </ul>

    <table class="table table-striped sortable">
      <thead>
      <tr>
        <th>Institution</th>
        <th class="bytes_num">Total Number of Bytes</th>
        <th>(Readable)</th>
        <th>Number of Sub Accounts</th>
      </tr>
      </thead>
      <tbody>

      <% @inst_breakdown_report.each do |key, value| %>
          <% sub_num = value[:subscriber_number] %>
          <% bytes_num = value[:size] %>
          <% inst_name = key %>
          <tr>
            <td><%= inst_name %></td>
            <td class="bytes_num"><%= bytes_num %></td>
            <td class="bytes_num_readable">(<%= number_to_human_size(bytes_num) %>)</td>
            <td><%= number_with_delimiter(sub_num, delimiter: ',') %></td>
          </tr>
          <% value.each do |nested_key, nested_value| %>
              <% if nested_key != :subscriber_number && nested_key != :size %>
                      <% inst_name = nested_key %>
                      <% bytes_num = nested_value %>
                      <% sub_num = "Sub Account of #{key}" %>
                  <tr>
                    <td>    <%= inst_name %></td>
                    <td align="right"><%= bytes_num %></td>
                    <td padding-right="50px">(<%= number_to_human_size(bytes_num) %>)</td>
                    <td><%= number_with_delimiter(sub_num, delimiter: ',') %></td>
                  </tr>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>

    <%= link_to "?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
        <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
    <% end %>
  </div>

</div>