<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

  <div class="tab-pane" id="mimetype">
    <br><table>
    <tr>
      <td>
        <dl class="dl-horizontal">
          <script>var graph_hash = {}</script>
          <% sorted_hash = Hash[ @mimetype_report.sort_by { |key, value| key } ] %>
          <% sorted_hash.each do |key, value| %>
              <% unless key == 'all' %>
                  <dt><%= key %></dt>
                  <dd><%= number_to_human_size(value) %></dd>
                  <script>graph_hash["<%= key %>"] = <%= value %></script>
              <% end %>
          <% end %>
        </dl>
      </td>
      <td id="mimetype_cell">
        <canvas id="indiv_mimetype_chart"></canvas>
        <script>individual_mimetype(graph_hash)</script>
      </td>
    </tr>
  </table>
  </div>

</div>