<% @title = 'Overview Report' %>

<h2>General Overview for <%= @institution.name %></h2>

<dl class="dl-horizontal">
  <dt>Intellectual Objects</dt>
  <dd><%= @overview_report[:intellectual_objects] %></dd>
  <dt>Generic Files</dt>
  <dd><%= @overview_report[:generic_files] %></dd>
  <dt>Premis Events</dt>
  <dd><%= @overview_report[:premis_events] %></dd>
  <dt>Work Items</dt>
  <dd><%= @overview_report[:work_items] %></dd>
  <dt>Average File Size</dt>
  <dd><%= number_to_human_size(@overview_report[:average_file_size]) %></dd>
  <dt>Total Bytes Preserved</dt>
  <dd><%= number_to_human_size(@overview_report[:bytes_by_format]['all']) %></dd>
  <% if @overview_report[:subscribers].nil? || @overview_report[:subscribers] == {} %>
      <dt>Sub Accounts</dt>
      <dd>None</dd>
  <% else %>
      <dt>Sub Accounts</dt>
      <dd>-----------</dd>
      <% @overview_report[:subscribers].each do |key, value| %>
          <dt><%= key %></dt>
          <dd><%= number_to_human_size(value) %></dd>
      <% end %>
  <% end %>
  <dt>Bytes by Type</dt>
  <dd>-----------</dd>
  <% @overview_report[:bytes_by_format].each do |key, value| %>
      <% unless key == 'all' %>
          <dt><%= key %></dt>
          <dd><%= number_to_human_size(value) %></dd>
      <% end %>
  <% end %>
</dl>

<%= link_to "#{@institution.identifier}?format=pdf", {class: 'btn doc-action-btn btn-normal'} do %>
    <i class="glyphicon glyphicon-download-alt"></i> Save Report as PDF
<% end %>