<%= render partial: 'header' %>

<h2 align="center">General Overview for <%= @institution.name %></h2>

<table class="dl-horizontal">
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Intellectual Objects</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= @report[:intellectual_objects] %></th>
  </tr>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Generic Files</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= @report[:generic_files] %></th>
  </tr>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Premis Events</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= @report[:premis_events] %></th>
  </tr>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Work Items</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= @report[:work_items] %></th>
  </tr>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Average File Size</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= number_to_human_size(@report[:average_file_size]) %></th>
  </tr>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Total Bytes Preserved</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= number_to_human_size(@report[:bytes_by_format]['all']) %></th>
  </tr>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Subscribers</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;">-----------</th>
  </tr>
  <% @report[:subscribers].each do |key, value| %>
      <tr width="600px">
        <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;"><%= key %></th>
        <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= number_to_human_size(value) %></th>
      </tr>
  <% end %>
  <tr width="600px">
    <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;">Bytes by Type</th>
    <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;">-----------</th>
  </tr>
  <% @report[:bytes_by_format].each do |key, value| %>
      <% unless key == 'all' %>
          <tr width="600px">
            <th width="200px" align="left" style="float: left; overflow: hidden; white-space: nowrap;"><%= key %></th>
            <th width="400px" align="right" style="font-weight: 100; float: left; overflow: hidden;"><%= number_to_human_size(value) %></th>
          </tr>
      <% end %>
  <% end %>
</table>

<%= render partial: 'footer' %>