<!DOCTYPE html>
<html>
<head>
  <title>APTrust</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.time.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.symbol.js"></script>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'aptrust/favicon.png' %>
  <%= auto_discovery_link_tag(:rss, work_items_path, title: 'Bag Status RSS Feed') %>
</head>
<body>

<div id="mainContainer">
  <%= render partial: '/shared/header_navbar' %>
  <div class="container">
    <div class="row">
      <%= render partial: '/shared/flash_messages' %>
    </div>
    <%= yield %>
  </div>
  <%= render partial: '/shared/footer' %>
</div>

</body>
</html>
