<!DOCTYPE html>
<html>
<head>
  <title>Pharos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'aptrust/favicon.ico' %>
</head>
<body>
<%= render partial: '/shared/header_navbar' %>
<div class="container">
  <div class="row">
    <%= render partial: '/shared/flash_messages' %>
  </div>
  <%= yield %>
</div>
<%= render partial: '/shared/footer' %>

</body>
</html>
